@import url(fontiran.css);

* {
  font-family: iransansdn, tahoma !important;
}

h1,
h2,
h3 {
  font-size: 1.9rem;
  color: hsl(0, 0%, 30%);
}

h4,
h5,
h6 {
  font-size: 1.2rem;
  color: hsl(0, 0%, 30%);
}

h6.price {
  color: hsl(0, 0%, 30%);
  display: block;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

span.navbar-toggler-icon {
  width: 1em !important;
  height: 1em !important;
}

/* Class of elements */

img.card-img-top {
  padding: 10px 10px 0 10px;
}
