@import url(fontiran.css);

* {
  font-family: iransansdn, tahoma !important;
}

h1,
h2,
h3 {
  font-size: 1.9rem;
  color: hsl(0, 0%, 30%);
}

h4,
h5,
h6 {
  font-size: 1.2rem;
  color: hsl(0, 0%, 30%);
}

h6.price {
  color: hsl(0, 0%, 30%);
  display: block;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

a.link,
a.link:hover {
  color: hsl(0, 0%, 30%);
}

a.no-link,
a.no-link:hover {
  color: #11118a;
  text-decoration: none;
}

span.navbar-toggler-icon {
  width: 1em !important;
  height: 1em !important;
}

/* Class of elements */

button.size {
  border: white 3px solid;
}

img.product-file {
  transition: all 0.3s ease-out;
}

img.card-img-top {
  padding: 10px 10px 0 10px;
}

/* Classes */

.direction-ltr {
  direction: ltr !important;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.product {
  border-radius: 0 0 4px 4px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.padding-right {
  padding-right: 30px;
}
